@charset "utf-8";

body {min-width:996px; background:#dddcdb;}

#header {
  background:#fff;
 }
#header .top_header {
  border-bottom:1px solid #ccc;
  }
#header .top_header .top_header_inner {width:996px; height:30px; margin:0 auto;}

/*로그인*/
.top_header_inner ul.util {float:right; margin-top:5px;}
.top_header_inner ul.util li {float:right; margin-right:6px;}
.top_header_inner ul.util li a {color:#005199;}

/*미들 헤더*/
.middle_header {height:70px; width:996px; margin:0 auto; position:relative;}
.middle_header h1 {
  font-size:1.9em;
  text-align: center;
  line-height:70px;
  letter-spacing: 0.3em;
  font-weight: 700;
  }

/*바텀 헤더*/
.bottom_header {height:40px; background-color:#FFA100;}

/*GNB*/
.bottom_header .gnb {width:996px; margin:0 auto;}
.bottom_header .gnb>li {float:left; width:166px; position:relative;}
.bottom_header .gnb>li>a {display:block; text-align:center; color:#FFF; font-size:16px; font-weight:bold; line-height:40px;}

.bottom_header .gnb>li:hover>a {background:#A14900;}

/*서브메뉴*/
.gnb>li:hover .depth2 {display:block;}
.gnb .depth2 {position:absolute; left:0; top:40px; background:#f5f5f5; display:none; width:166px; padding:30px 20px; z-index:1}
.gnb .depth2 li {margin-top:15px;}
.gnb .depth2 li:first-child {margin-top:0px;}
.gnb .depth2 a {color:#333; font-size:14px; display:block;}
.gnb .depth2 li a:hover {color:#03C; text-decoration:underline; }
